<div class="parent-container">
  <p-select
    class="custom-select"
    [options]="mcdoList"
    [(ngModel)]="selectedMcdo"
    optionLabel="name"
    placeholder="Sélectionner un McDo"
  />

  <div class="button-container">
    @if (currentUrl === '/home') {
    <p-button
      icon="pi pi-cog"
      [rounded]="true"
      [text]="true"
      size="large"
      (onClick)="navigateTo('/param')"
    />
    } @if (currentUrl === '/param') {
    <p-button
      icon="pi pi-home"
      [rounded]="true"
      [text]="true"
      size="large"
      (onClick)="navigateTo('/home')"
    />
    }

    <p-button
      icon="pi pi-sign-out"
      [rounded]="true"
      [text]="true"
      size="large"
      (onClick)="navigateTo('/login')"
    />
  </div>
</div>
